<section class="profile-header" #header>
    <div class="profile-info">
        <figure>
            <img [src]="urlProfile" alt="profile">
        </figure>
        <div class="content">
            <div class="title-row">
                <h1>{{ nameProfile }}</h1>
            </div>
            <p>{{ fieldProfile }}</p>
        </div>
    </div>

    <div class="profile-meta">
        <span class="location">
            <img src="./../../../assets/icons/pin-location.png" alt="icon-location">
            {{ location }}
        </span>
        <nav class="social-links">
            <a target="_blank" [href]="btn.link" class="icon-btn" *ngFor="let btn of btnsLink">
                <img [src]="btn.iconUrl" [alt]="btn.name">
                <span>{{ btn.name }}</span>
            </a>
        </nav>
    </div>
</section>