<section class="profile-header" #header>
    <div class="profile-info">
        <figure>
            <img src="./../../../assets/images/kaua-profile.png" alt="Foto de perfil">
        </figure>
        <div class="content">
            <div class="title-row">
                <h1>Kauã Henrique</h1>
            </div>
            <p>Full Stack Developer</p>
        </div>
    </div>

    <div class="profile-meta">
        <span class="location">
            <img src="./../../../assets/icons/pin-location.png" alt="icon-location">
            Recife, PE
        </span>
        <nav class="social-links">
            <a href="#" class="icon-btn">
                <img src="../../../assets/icons/github-wihte.png" alt="github">
                <span>GitHub</span>
            </a>
            <a href="#" class="icon-btn">
                <img src="../../../assets/icons/Linkedln-white.png" alt="linkedln">
                <span>Linkedln</span>
            </a>
            <a href="#" class="icon-btn">
                <img src="../../../assets/icons/whatsapp-white.png" alt="whatsapp">
                <span>whatsapp</span>
            </a>
            <a href="#" class="icon-btn">
                <img src="../../../assets/icons/download-white.png" alt="curriculum">
                <span>curriculum</span>
            </a>
        </nav>
    </div>
</section>