// ==============================
// Design Tokens
// ==============================

$color-nav-bg: rgba(170, 170, 170, 0.1);
$color-border: rgba(255, 255, 255, 0.2);
$blur-default: blur(10px);
$glow-color: rgba(255, 255, 255, 0.4);

.topic {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .6rem;
  padding: .6rem 1.2rem;
  margin: .5rem;
  border-radius: 100px;
  background: $color-nav-bg;
  border: 1px solid $color-border;
  backdrop-filter: $blur-default;
  user-select: none;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    padding: 1px;
    pointer-events: none;

    // um gradiente radial que segue as variáveis do TS
    background: radial-gradient(400px circle at var(--mouse-x) var(--mouse-y), $glow-color, transparent 40%);

    // Mascaramento para o brilho aparecer apenas na borda
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0); 
    -webkit-mask-composite: xor; mask-composite: exclude;

    opacity: 0; // default is hide
    transition: opacity 0.4s ease;
  }

  &:hover::before {
    opacity: .8;
  }

  img {
    width: 1.2rem;
    height: 1.2rem;
    object-fit: contain;
    opacity: .9;
  }

  .content {
    text-transform: capitalize;
    font-size: 0.95rem;
    color: rgba(255, 255, 255, 0.9);
  }
}
