<section class="about-container" id="about">
    <app-topic-container 
        iconUrl="./../../../assets/icons/cursor.png" 
        text="About me" 
        topic="about" 
        class="topic">
    </app-topic-container>

    <h1 class="glitch-text reveal">
      Who am I?<br> 
      <span class="outline">What do I do?</span>
    </h1>

    <article class="about-card reveal">      
        <app-profile-header></app-profile-header>  
        <section class="about-description">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit excepturi et hic minus ad porro quo explicabo tenetur laborum! Corrupti eum sint minima eveniet dicta ipsum adipisci aliquam cupiditate modi asperiores consequuntur officiis quo quisquam itaque, nemo ea obcaecati sunt. Iusto quas eos soluta provident. Accusantium voluptas ipsa pariatur nobis nihil nostrum praesentium debitis, alias exercitationem aperiam eius maxime? Eligendi, commodi eaque. Dolore earum aspernatur doloribus dolor beatae ipsum maiores cumque a, rem odit, similique, omnis fuga veniam? At ex delectus voluptates earum cum repellendus, eius quas aliquam sunt culpa ratione excepturi dolorem dolore libero veniam. Et ad similique repudiandae?
            </p>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora, dolorum. <strong>o que fortaleceu ainda mais minha
                    experiência na área</strong>,
                e me fez aprender a lidar com diferentes tipos de projetos e clientes.
            </p>
            <p class="highlight">
                <strong>Estou totalmente aberto a novas oportunidades e desafios</strong>, então se você tem um projeto
                em mente
                ou uma vaga de emprego que se encaixe com o meu perfil, não hesite em me contatar!
            </p>
        </section>
    </article>
</section>