<section class="hero">
  <div class="grid-overlay"></div>

  <app-topic-container
    iconUrl="./../../../assets/icons/cursor.png"
    text="Welcome to my page! Welcome to my page! Welcome to my page! Welcome to my page!"
  ></app-topic-container>

  <div class="content">    
    <h1 class="glitch-text">
      Kauã <span class="outline">Henrique</span>
    </h1>
    
    <p class="description">
      Transformando lógica complexa em <br>
      <span>experiências digitais imersivas.</span>
    </p>
  </div>
</section>



<!-- <div class="button-group">
      <a href="#" class="btn-main">Iniciar Projeto</a>
      <a href="#" class="btn-link">Ver meu código <i class="fab fa-github"></i></a>
    </div> -->

<!-- <div class="light-source one"></div>
  <div class="light-source two"></div> -->