<section class="hero">
  <div class="grid-overlay"></div>

  <app-topic-container 
    iconUrl="./../../../assets/icons/cursor.png" 
    text="Welcome to my page!"
    topic="hero">
  </app-topic-container>

  <div class="content">
    <h1 class="glitch-text reveal">
      Kauã <span class="outline">Henrique</span>
    </h1>

    <p class="description reveal">
      Transformando lógica complexa em <br> <span>experiências digitais imersivas.</span>
    </p>
  </div>

  <div class="button-group reveal">
    <a href="#contact" class="btn-main">contact me</a>
    <a href="#" class="btn-link">about me</a>
  </div>
</section>

<!-- 
<div class="light-source one"></div>
<div class="light-source two"></div> 
-->